## Dataset 1: Default of Credit Card Clients: Credit default data for Taiwanese creditors

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv ('../data/UCI_Credit_Card.csv')

In [3]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

### Data Analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null float64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null float64
BILL_AMT2                     30000 non-null float64
BILL_AMT3                     30000 non-null float64
BILL_AMT4                     30000 non-null float64
BILL_AMT5                     30000 non-null float64
BILL_AMT6                     30000 non-null float64
PAY_AMT1                      30000 non-null float64
PAY_AMT2                      30000 non-null float64
PAY_AMT3                      30000 non-null float64
PAY_AMT4                      30000 non-null float64
PAY_AMT5                      30000 non-null float64
PAY_AMT6                      30000 non-null float64
default.payment.next.month    30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [5]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

##### so from above code we can see that, we don't have any null values in our dataset

##### checking the datatypes of the column

In [6]:
print(df.dtypes)

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

#### so here we can see that the datatype for all the columns is either float or int ( as per our requirement)

In [7]:
df.shape

(30000, 25)

#### so from above data we can see that, we will not require the 1st column i.e. ID, because it will not help us in predicting the outcome while applying neural network algorithm

In [8]:
## dropping ID column from the dataframe
df.drop('ID', axis=1, inplace=True)

In [9]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

#### Normalizing the features column data

In [10]:
df_norm = df[['LIMIT_BAL','SEX','EDUCATION','MARRIAGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [11]:
df_norm.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0.010101,1.0,0.333333,0.333333,0.4,0.4,0.1,0.1,0.0,0.0,...,0.086723,0.160138,0.080648,0.260979,0.000000,0.000409,0.000000,0.000000,0.000000,0.000000
1,0.111111,1.0,0.333333,0.666667,0.1,0.4,0.2,0.2,0.2,0.4,...,0.087817,0.163220,0.084074,0.263485,0.000000,0.000594,0.001116,0.001610,0.000000,0.003783
2,0.080808,1.0,0.333333,0.666667,0.2,0.2,0.2,0.2,0.2,0.2,...,0.093789,0.173637,0.095470,0.272928,0.001738,0.000891,0.001116,0.001610,0.002345,0.009458
3,0.040404,1.0,0.333333,0.333333,0.2,0.2,0.2,0.2,0.2,0.2,...,0.113407,0.186809,0.109363,0.283685,0.002290,0.001199,0.001339,0.001771,0.002506,0.001892
4,0.040404,0.0,0.333333,0.333333,0.1,0.2,0.1,0.2,0.2,0.2,...,0.106020,0.179863,0.099633,0.275681,0.002290,0.021779,0.011160,0.014493,0.001615,0.001284

#### Now, we will seperate our feature columns and the target column.

In [12]:
X = df_norm.iloc[:, 0:22].values # feature column
y = df.iloc[:, 23].values   # target column i.e., Default payment (1=yes, 0=no)

In [13]:
X

array([[0.01010101, 1.        , 0.33333333, ..., 0.        , 0.        ,
        0.        ],
       [0.11111111, 1.        , 0.33333333, ..., 0.00161031, 0.        ,
        0.00378311],
       [0.08080808, 1.        , 0.33333333, ..., 0.00161031, 0.00234451,
        0.00945777],
       ...,
       [0.02020202, 0.        , 0.33333333, ..., 0.00676329, 0.00468901,
        0.00586382],
       [0.07070707, 0.        , 0.5       , ..., 0.00310145, 0.12417444,
        0.00341236],
       [0.04040404, 0.        , 0.33333333, ..., 0.00161031, 0.00234451,
        0.00189155]])

In [14]:
y

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

#### Next, we will split the data into training set and testing set

In [15]:
# splitting training and testing in 80:20ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Neural Network: Implementation

In [16]:
import math
import operator

In [32]:
class Neural_Network_Imp:
    
    # defining constructor and initializing values
    def __init__(self,X, y, X_test, y_test, input_learning_rate, input_epochs_count):      
                
        # initializing the data
        
        self.X_test_data = X_test
        self.y_test_data = y_test
        self.y_data = y[:,None]
        self.X_data = X
        
        # calcultaing the number of hidden nodes
        # with n input and m output neurons, the hidden layer would have sqrt(n âˆ— m) neurons.
        # reference:
        # [1] Masters, Timothy. Practical neural network recipes in C++. Morgan Kaufmann, 1993.
        # [2] http://www.iitbhu.ac.in/faculty/min/rajesh-rai/NMEICT-Slope/lecture/c14/l1.html
        
        number_hidden_nodes= int(round(math.sqrt(len(X[0])*self.y_data.shape[1]) )) 
        # print("Calculated number of hidden nodes-->",number_hidden_nodes )
        # since we have a binary classification so the value of m i.e., output neurons will be 1.
        
        # setting the value for number_input_nodes, number_output_nodes, input_learning_rate and input_epochs_count
        
        self.number_input_nodes = len(X[0])
        self.number_hidden_nodes = number_hidden_nodes
        self.number_output_nodes = self.y_data.shape[1]
        self.input_learning_rate = input_learning_rate
        
        print("Model Details:")
        print("1. Number of input nodes-->",self.number_input_nodes )
        print("2. Calculated number of hidden nodes by formula sqrt(input nodes âˆ— output nodes)-->",number_hidden_nodes )
        print("3. Number of output nodes-->",self.number_output_nodes )
        print("4. Learning rate for the model inputted by the user  -->",self.input_learning_rate )
        print("5. Epochs for the model inputted by the user  -->",input_epochs_count )
        print("\n")
        
        # Initilaizing random weights between input layer --> hidden layer and from hidden layer --> output layer
        
        np.random.seed(4)
        # weight matrix from input to hidden layer    
        self.weightInputHidden = np.random.random((self.number_input_nodes, self.number_hidden_nodes)) 
        # weight matrix from hidden to output layer
        self.weightHiddenOutput = np.random.random((self.number_hidden_nodes, self.number_output_nodes)) 
        
       #self.train(epochs)
        self.functionForTrainDataSet(input_epochs_count)
        self.functionForTestingDataSet()
        
    
    # function for Activation function: Sigmoid
    
    def functionForCalcultingAFSigmoid(self, input_data):
        return (1/(1+np.exp(-input_data)))
        
    # function for derivative of Sigmoid Activation function
    
    def functionForCalcultingAFSigmoidDerivative(self, input_data):
        return input_data * (1 - input_data)
        
    # function to train our dataset and build a model
    
    def functionForTrainDataSet(self, input_epochs_count):
        
        for counter in range(input_epochs_count):
            
            #forward propagation through our network
            #product of input and hidden layers neurons
            self.temp = (self.X_data[:,:,None]*self.weightInputHidden[None,:,:]).sum(axis=1)            
            
            inputHiddenLayer = self.functionForCalcultingAFSigmoid(self.temp)

            #product of hidden and output layers neurons
            self.temp2 = (inputHiddenLayer[:,:,None]*self.weightHiddenOutput[None,:,:]).sum(axis=1)            
            hiddenOutputLayer = self.functionForCalcultingAFSigmoid(self.temp2)
        
            # backward propagate through the network
            
            #calculating error in the output
            #errorInPrediction is calculated by subtracting predicted output from the original output
            errorInPrediction = self.y_data-hiddenOutputLayer
            
            #calculate how far off each layer is
            hiddenOutputLayer_difference = errorInPrediction * self.functionForCalcultingAFSigmoidDerivative(hiddenOutputLayer)
            inputHiddenLayer_difference = (hiddenOutputLayer_difference[:,:,None]*self.weightHiddenOutput.T[None,:,:]).sum(axis=1) * self.functionForCalcultingAFSigmoidDerivative(inputHiddenLayer)
            
            # from the error values found, propagating backward and adjusting the error so that predicting result becomes more accurate
            self.weightHiddenOutput = np.add(self.weightHiddenOutput,(inputHiddenLayer.T[:,:,None]*hiddenOutputLayer_difference[None,:,:]).sum(axis=1)  * self.input_learning_rate)          
            self.weightInputHidden = np.add(self.weightInputHidden, (self.X_data.T[:,:,None]*inputHiddenLayer_difference[None,:,:]).sum(axis=1) * self.input_learning_rate)
        
        print("Output Details:")
        print('The % of error is-->', (abs(errorInPrediction)).mean())
        
    # function to test our built model and to check the accuracy with the test dataset    
        
    def functionForTestingDataSet(self):
        
        inputHiddenLayerTest = self.functionForCalcultingAFSigmoid((self.X_test_data[:,:,None]*self.weightInputHidden[None,:,:]).sum(axis=1))
        hiddenOutputLayerTest = self.functionForCalcultingAFSigmoid((inputHiddenLayerTest[:,:,None]*self.weightHiddenOutput[None,:,:]).sum(axis=1))
        
        listPredictedOutput = []
        numberOfCorrectPredict = 0    
        
        for count in range(len(hiddenOutputLayerTest)):
            if hiddenOutputLayerTest[count] >= 0.5:
                tempPrediction = 1
            else:
                tempPrediction = 0

            if tempPrediction == self.y_test_data[count]:
                numberOfCorrectPredict += 1
                
            listPredictedOutput.append(tempPrediction)

        print("Accuracy of our model with Test data is--> ", ((numberOfCorrectPredict/len(y_test))*100),'%')

#### creating instance of Neural_Network_Imp class and passing following arguments in its __init__ method
#### 1. Feature training data
#### 2. Target (label) training data
#### 3. Feature testing data
#### 4. Target (label) testing data
#### 5. Learning rate at which model needs to be trained
#### 6. Epochs: Number of times model will be train on the dataset

In [33]:
# creating instance of Neural_Network_Imp class and passing arguments values

nniInstance = Neural_Network_Imp(X_train, y_train, X_test, y_test, 0.1, 5000)

Model Details:
1. Number of input nodes--> 22
2. Calculated number of hidden nodes by formula sqrt(input nodes âˆ— output nodes)--> 5
3. Number of output nodes--> 1
4. Learning rate for the model inputted by the user  --> 0.1
5. Epochs for the model inputted by the user  --> 5000


Output Details:
The % of error is--> 0.22245833333333334
Accuracy of our model with Test data is-->  78.38333333333334 %